#flickrstickr_float_selector {
  left: 7%;
  right: 7%;
  height: 110px;
  position: fixed;
  top: 10px;
  display: block;
}

#flickrstickr {
  border: 2px solid darkgrey;
  background-color:#efefef;
  height: 110px;
  vertical-align:center;
  white-space: nowrap;
  width: 100%;
}

#flickstickr_table {
  height: 95px;
  border: none;
}

#flickrsettings {
  background-color:#efefef;
  border: 2px solid darkgrey;
  margin: 5px;
  padding: 5px;
}

#flickrstickr div {
  background-color:#efefef;
  padding: 10px;
  border: 2px solid;
  left: 1px;
  float: none;
  position: relative;
  width: 100px;
}

#flickrstickr A img {
  border: 0px solid;
}

#flickrstickr img {
  display:none;
}

img.flickrstickr_image {
  padding: 5px !important;
}

#navprev, #navnext {
  height: 90px;
  display: none;
}
